body{
  width: 90vw;
  height: 90vh;
  background: rgba(5,5,5,0.9);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  box-shadow: 0 0 0 10px white; 
}

.form{
  box-shadow: 0 0 0 10px white;
  display: flex;
  flex-direction:column;
  gap: 10px;
}

