*{
  margin: 0;
  padding: 0;
  font-family:  "Open Sans", Arial, Helvetica, sans-serif ;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(5,5,5,0.9);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url("/image/team-wallpaper.png");
  background-size: 100% 100%;
}

.reg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.433);
  width: 400px;
  height: 450px;
  padding: 15px;
  padding-bottom: 25px;
  box-shadow: 0 0 100px 0px rgba(205, 201, 201, 0.247); 
  border-radius: 10px;
  backdrop-filter: blur(10px);
  gap: 10px;
}

.log-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.433);
  width: 400px;
  height: 300px;
  padding: 15px;
  padding-bottom: 25px;
  box-shadow: 0 0 100px 0px rgba(205, 201, 201, 0.247); 
  border-radius: 10px;
  backdrop-filter: blur(10px);
  gap: 5px;
}

.reg-head, .log-head{
  padding: 10px;
  font-size: xx-large;
  width: 100%;
  text-align: center;
  text-decoration-line: underline;
}

form{
  width: 90%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  padding: 1em;
}

input{
  background: rgba(245, 242, 242, 0.544);
  backdrop-filter: blur(2em);
  color: rgb(171, 169, 169);
  height: 20px;
  width: 100%;
  font-family:cursive;
  font-weight: 1000;
  font-size:15px;
  padding: 10px;
  border-radius: 5px;
  border-color: transparent;
}

.btn{
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  background: rgb(21, 8, 255);
  color: white;
  margin-top: 25px;
  cursor: pointer;
}

.btn:hover{
  background: rgb(11, 96, 254);
}

.btn:active{
  background: rgb(15, 5, 206);
}

.to-reg{
  padding: 10px;
}

a{
  color:whitesmoke;
}

a:hover{
  color: blue;
}